* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 65px;
  line-height: 76px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

p,
li {
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 1156px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.button {
  padding-inline: 25px;
  padding-block: 22px 20px;
  background-color: #fff;
  color: #005fac;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

/* Header Section Style*/

.header {
  min-height: 110vh;
  background: url(../assets/images/banner3.png) no-repeat center / cover;
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.hero {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.hero-title {
  max-width: 525px;
  color: #fff;
  margin-bottom: 24px;
}

.hero-subtitle {
  color: #fff;
  max-width: 490px;
  margin-bottom: 30px;
}

/* failures section style */

.failures {
  display: flex;
  align-items: center;
  gap: 87px;
  margin-bottom: 130px;
}

.failures-left img {
  display: block;
  width: 560px;
  height: 700px;
  object-fit: cover;
}

.failures-right {
  margin-bottom: -120px;
}

.failures-title {
  max-width: 290px;
  margin-bottom: 24px;
}

.failures-info {
  max-width: 415px;
  color: #444343;
  margin-bottom: 16px;
}

.failures-list-item {
  margin-bottom: 8px;
  color: #444343;
  list-style: none;
  background: url(../assets/icons/tick.svg) no-repeat left center;
  padding-left: 30px;
}

/* My Plan Section style*/

.my-plans {
  text-align: center;
  margin-bottom: 135px;
}

.my-plans-heading {
  margin-bottom: 50px;
}

.my-plans-container {
  display: flex;
  gap: 85px;
  justify-content: center;
  flex-wrap: wrap;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan img {
  width: 92px;
  display: block;
  margin-bottom: 24px;
}

.plan-title {
  margin-bottom: 16px;
}

.plan-info {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #737272;
}
